In [74]:
%matplotlib inline
import numpy as np
import pandas as pd
import os
from geopy.distance import vincenty
import time

In [ ]:
agency_number = 1
route_number = 3
if type(agency_number) == int:
    agency_number = str(agency_number)
if type(route_number) == int:
    route_number = str(route_number)

In [ ]:
EXPECTS_ROUTE = pd.read_csv('../Data/EXPECTS_Databases_Routes/' + agency_number + '/' + 'EXPECTS_' + agency_number + '_Route_' + route_number + '.txt', sep=',')
INSTANCES_ROUTE = pd.read_csv('./INSTANCES_Databases_Routes/' + agency_number + '/' + 'INSTANCES_' + agency_number + '_Route_' + route_number + '.txt', sep=',')
STOPS = pd.read_csv('./Agency-Info/' + agency_number + '_gtfs/stops.txt', sep=',')

In [ ]:
Trip_Id = '1_30940700'
Stop_Id = '1_12890'
print Trip_Id, ",", Stop_Id

In [ ]:
#line = 10020
#Trip_Id = EXPECTS_ROUTE.iloc[0,0]
#Stop_Id = EXPECTS_ROUTE.iloc[0,1]
#print Trip_Id, ",", Stop_Id

In [ ]:
INSTANCES_TRIP = INSTANCES_ROUTE[INSTANCES_ROUTE['Trip_Id']==Trip_Id]

In [ ]:
Stop_Loc = EXPECTS_ROUTE[EXPECTS_ROUTE['Stop_Id']==Stop_Id][['Stop_Lat', 'Stop_Lon']].iloc[0].tolist()

In [ ]:
Distances = []
for i in range(len(INSTANCES_TRIP)):
    Vehicle_Loc = INSTANCES_TRIP[['Vehicle_Latitude','Vehicle_Longitude']].iloc[i].tolist()
    Distances.append(vincenty(Vehicle_Loc, Stop_Loc).feet)

In [ ]:
INSTANCES_TRIP = INSTANCES_TRIP.assign(Distance_to_Stop=Distances)
sum(INSTANCES_TRIP['Distance_to_Stop']<=100)

### Analyze Just One Stop Manually

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from geopy.distance import vincenty

In [37]:
agency_number = 1
if type(agency_number) == int:
    agency_number = str(agency_number)
route_number = 2
if type(route_number) == int:
    route_number = str(route_number)
stop_number = 450
#trip_number = 
if type(stop_number) == str:
    stop_number = int(stop_number)
Route_to_Analyze = agency_number + '_' + route_number
#Trip_to_Analyze = 
Instances_By_Route_File_Loc = '../Data/INSTANCES_Databases/Route_By_Agency/Agency_' + agency_number + '/INSTANCES_Agency_'+ agency_number +'_Route_' + route_number + '.txt'

Agency_Info_Loc = '../Agency-Info/'
Stops_File_Loc = Agency_Info_Loc + agency_number + '_gtfs/stops.txt'

In [48]:
INSTANCES_To_Analyze = pd.read_csv(Instances_By_Route_File_Loc)
Stops_Info = pd.read_csv(Stops_File_Loc)
INSTANCES_To_Analyze.head()

,Trip_Id,Route_Id,Vehicle_Id,Vehicle_Timestamp,Vehicle_Latitude,Vehicle_Longitude,Route_Short_Name
0,1_30939290,1_100089,1_7073,1460861178,47.612934,-122.303660,1_2
1,1_30939231,1_100089,1_2651,1460861159,47.612946,-122.301950,1_2
2,1_30939276,1_100089,1_7076,1460861181,47.607567,-122.334090,1_2
3,1_30939230,1_100089,1_7032,1460861222,47.612900,-122.307655,1_2
4,1_30939264,1_100089,1_7127,1460861261,47.615063,-122.283780,1_2

In [39]:
Stop = Stops_Info[Stops_Info['stop_id'] == stop_number]
Stop_Lat = Stop.stop_lat.values[0]
Stop_Lon = Stop.stop_lon.values[0]
Stop_Loc = (Stop_Lat,Stop_Lon)

In [40]:
INSTANCES_To_Analyze.Trip_Id.unique()

array(['1_30939290', '1_30939231', '1_30939276', '1_30939230',
       '1_30939264', '1_30939275', '1_30939265', '1_30939266',
       '1_30939291', '1_30939267', '1_30939278', '1_30939233',
       '1_30939287', '1_30939279', '1_30939283', '1_30939234',
       '1_30939268', '1_30939269', '1_30939280', '1_30939235',
       '1_30939284', '1_30939270', '1_30939281', '1_30939285',
       '1_30939236', '1_30939271', '1_30939292', '1_30939237',
       '1_30939286', '1_30939499', '1_30939288', '1_30939204',
       '1_30939238', '1_30939282', '1_30939205', '1_30939239',
       '1_30941232', '1_30941328', '1_30941247', '1_30941341',
       '1_30941329', '1_30941233', '1_30941342', '1_30941248',
       '1_30941234', '1_30941330', '1_30941343', '1_30941249',
       '1_30941235', '1_30941331', '1_30941344', '1_30941250',
       '1_30941236', '1_30941332', '1_30941345', '1_30941251',
       '1_30941237', '1_30941333', '1_30941346', '1_30941252',
       '1_30941334', '1_30941238', '1_30941253', '1_30941347',
       '1_30941239', '1_30941335', '1_30941348', '1_30941254',
       '1_30941336', '1_30941240', '1_30941255', '1_30941349',
       '1_30941241', '1_30941337', '1_30941350', '1_30941256',
       '1_30941338', '1_30941242', '1_30941257', '1_30941351',
       '1_30941537', '1_30941544', '1_30941352', '1_30941258',
       '1_30941536', '1_30941542', '1_30941353', '1_30942207',
       '1_30941543', '1_30941259', '1_30941354', '1_30935641',
       '1_30935635', '1_30935642', '1_30935693', '1_30935664',
       '1_30935636', '1_30935739', '1_30935694', '1_30935687',
       '1_30935740', '1_30935643', '1_30935665', '1_30935719',
       '1_30935688', '1_30935637', '1_30935644', '1_30935792',
       '1_30935695', '1_30935720', '1_30935666', '1_30935638',
       '1_30935743', '1_30935793', '1_30935772', '1_30935696',
       '1_30935804', '1_30935744', '1_30935829', '1_30935645',
       '1_30935667', '1_30935830', '1_30935723', '1_30935646',
       '1_30935697', '1_30935805', '1_30935745', '1_30935724',
       '1_30935668', '1_30935806', '1_30935862', '1_30935698',
       '1_30935746', '1_30935833', '1_30935863', '1_30935776',
       '1_30935669', '1_30935727', '1_30935834', '1_30935807',
       '1_30935699', '1_30935777', '1_30935728', '1_30935670',
       '1_30935864', '1_30935749', '1_30935651', '1_30935778',
       '1_30935810', '1_30935750', '1_30935835', '1_30935729',
       '1_30935865', '1_30935702', '1_30935811', '1_30935836',
       '1_30935652', '1_30935673', '1_30935703', '1_30935730',
       '1_30935751', '1_30935781', '1_30935674', '1_30935812',
       '1_30935653', '1_30935868', '1_30935782', '1_30935704',
       '1_30935752', '1_30935839', '1_30935869', '1_30935894',
       '1_30935675', '1_30935888', '1_30935813', '1_30935733',
       '1_30935654', '1_30935889', '1_30935910', '1_30935840',
       '1_30935895', '1_30935882', '1_30935705', '1_30935785',
       '1_30935734', '1_30935911', '1_30935676', '1_30935755',
       '1_30935883', '1_30935655', '1_30935786', '1_30935905',
       '1_30935872', '1_30935706', '1_30935896', '1_30935816',
       '1_30935756', '1_30935677', '1_30935906', '1_30935912',
       '1_30936123', '1_30935873', '1_30935656', '1_30935817',
       '1_30936124', '1_30935707', '1_30935757', '1_30935843',
       '1_30935917', '1_30935678', '1_30935874', '1_30935899',
       '1_30935844', '1_30935918', '1_30935657', '1_30935708',
       '1_30935820', '1_30935758', '1_30935900', '1_30935679',
       '1_30935875', '1_30935821', '1_30935847', '1_30935658',
       '1_30935921', '1_30935848', '1_30935709', '1_30935680',
       '1_30935876', '1_30935922', '1_30935761', '1_30935659',
       '1_30935710', '1_30935824', '1_30935762', '1_30935877',
       '1_30935681', '1_30935825', '1_30935660', '1_30935711',
       '1_30935682', '1_30935878', '1_30935661', '1_30935712',
       '1_30937695', '1_30935683', '1_30935662', '1_30935713',
       '1_30935714', '1_30935791', '1_30935798', '1_30935799',
       '1_30935647', '1_30935650', '1_30935771', '1_30935775',
       '1_30938515', '1_30938516', '1_30939144', '1_30939104',
       '1_30938517', '1_30939145', '1_30939105', '1_30939106',
       '1_30939146', '1_30939132', '1_30939147', '1_30939109',
       '1_30939133', '1_30939107', '1_30939110', '1_30939111',
       '1_30939148', '1_30939134', '1_30939130', '1_30939149',
       '1_30939112', '1_30939135', '1_30939113', '1_30939114',
       '1_30939150', '1_30939136', '1_30939115', '1_30939151',
       '1_30939116', '1_30939137', '1_30939117', '1_30939118',
       '1_30939152', '1_30939138', '1_30939119', '1_30939120',
       '1_30939153', '1_30939139', '1_30939121', '1_30939122',
       '1_30939154', '1_30939140', '1_30939123', '1_30939155',
       '1_30939124', '1_30939141', '1_30939125', '1_30939156',
       '1_30939126', '1_30939142', '1_30939127', '1_30939128',
       '1_30939157', '1_30939143', '1_30939129', '1_30939252',
       '1_30939207', '1_30939240', '1_30939208', '1_30939253',
       '1_30939209', '1_30939241', '1_30939210', '1_30939254',
       '1_30939211', '1_30939212', '1_30939242', '1_30939213',
       '1_30939255', '1_30939214', '1_30939243', '1_30939215',
       '1_30939256', '1_30939244', '1_30939216', '1_30939257',
       '1_30939217', '1_30939245', '1_30939218', '1_30939258',
       '1_30939219', '1_30939246', '1_30939220', '1_30939259',
       '1_30939221', '1_30939222', '1_30939260', '1_30939223',
       '1_30939247', '1_30939248', '1_30939261', '1_30939225',
       '1_30939224', '1_30939249', '1_30939226', '1_30939262',
       '1_30939227', '1_30939250', '1_30939274', '1_30939228',
       '1_30939263', '1_30939229', '1_30939251', '1_30939289',
       '1_30939277', '1_30939232', '1_30939206', '1_30940400',
       '1_30939272', '1_30939182', '1_30939273', '1_30941260',
       '1_30941227', '1_30941323', '1_30941547', '1_30941324',
       '1_30941539', '1_30941228', '1_30941545', '1_30941540',
       '1_30941325', '1_30941229', '1_30941546', '1_30941541',
       '1_30941326', '1_30941244', '1_30941230', '1_30941538',
       '1_30941339', '1_30941245', '1_30941327', '1_30941231',
       '1_30941340', '1_30941246'], dtype=object)

In [41]:
list1 = zip(INSTANCES_To_Analyze.Vehicle_Latitude.values,INSTANCES_To_Analyze.Vehicle_Longitude.values)

In [42]:
Distances = []
for i in list1:
    Distances.append(vincenty(i, Stop_Loc).feet)

In [50]:
INSTANCES_To_Analyze['Distance_To_Stop_'+str(stop_number)] = Distances

In [51]:
INSTANCES_To_Analyze.head()

,Trip_Id,Route_Id,Vehicle_Id,Vehicle_Timestamp,Vehicle_Latitude,Vehicle_Longitude,Route_Short_Name,Distance_To_Stop_450
0,1_30939290,1_100089,1_7073,1460861178,47.612934,-122.303660,1_2,8290.477079
1,1_30939231,1_100089,1_2651,1460861159,47.612946,-122.301950,1_2,8704.522334
2,1_30939276,1_100089,1_7076,1460861181,47.607567,-122.334090,1_2,655.536240
3,1_30939230,1_100089,1_7032,1460861222,47.612900,-122.307655,1_2,7326.118165
4,1_30939264,1_100089,1_7127,1460861261,47.615063,-122.283780,1_2,13251.180701

In [53]:
INSTANCES_To_Analyze.Distance_To_Stop_450.describe()

count    445339.000000
mean       7773.198753
std        4895.462296
min          25.755996
25%        3204.633761
50%        7683.744629
75%       13199.508623
max       16047.238465
Name: Distance_To_Stop_450, dtype: float64

In [78]:
Test = INSTANCES_To_Analyze[INSTANCES_To_Analyze['Distance_To_Stop_450']<=50]
#Test.groupby(['Vehicle_Timestamp']).mean()
Test['Time'] =[time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(t)) for t in Test.Vehicle_Timestamp]

/Users/RedQueen/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [88]:
Test[Test['Vehicle_Id']=='1_2711']

,Trip_Id,Route_Id,Vehicle_Id,Vehicle_Timestamp,Vehicle_Latitude,Vehicle_Longitude,Route_Short_Name,Distance_To_Stop_450,Time
5947,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5953,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5959,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5965,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5971,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5977,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5983,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5989,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
5995,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6001,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6007,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6013,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6019,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6025,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6031,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6037,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6043,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6049,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6055,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6061,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6067,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6073,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6079,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6085,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6091,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6097,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6103,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6109,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6115,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6121,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6127,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22
6133,1_30939269,1_100089,1_2711,1460868322,47.608288,-122.33646,1_2,25.755996,2016-04-16 21:45:22